/* Global */
section {
  padding: 0px 10px;
  margin-bottom: 25px;
}

.section-title > i {
  margin-right: 10px;
}

a {
  transition: all 0.25s ease-in-out;
  color: #5b8d0c !important;
}

a:hover {
  color: #4c4c4c !important;
  text-decoration: none !important;
}

.card-container {
  margin: 50px 200px !important;
  box-shadow: 0px 0px 9px 0px #cecece;
  border-radius: 5px;
  overflow: hidden;
}

/* Left Panel Style */
.left-panel {
  background: #393939;
  color: white;
}

.img-wrapper {
  width: 100%;
  margin: 20px 0;
  text-align: center;
}

.img-wrapper > img {
  width: 70%;
  border-radius: 100%;
  margin: auto;
}

.info-container {
  text-align: center;
}

.contato-container {
  display: grid;
}

.contato-container > a {
  margin-bottom: 5px;
  height: 25px;
  color: white !important;
  transition: all 0.25s ease-in-out;
}

.contato-container > a:hover {
  font-size: 18px;
}

.contato-container > a > i {
  margin-right: 10px;
}

/* Right Panel Style */
.right-panel {
  padding: 30px 0;
}

.formacao-box, .profissao-box, .skill-list {
  margin-left: 15px;
}

.profissao-title {
  margin: 0;
}

.profissao-periodo, .formacao-periodo {
  color: grey;
  font-style: italic;
}

.formacao-box {
  display: grid;
}

.formacao-title {
  margin: 0;
}

.progress {
  margin: 5px 0;
}

.skill-info {
  margin-bottom: 5px;
  transition: all 0.25s ease-in-out;
}

.skill-info:hover {
  background: #e0e0e0;
  border-radius: 10px;
}

.skill-info > span > i {
  font-size: 21px;
  transform: translateY(10%);
  width: 20px;
  text-align: center;
}

.progress-bar {
  background-color:#5b8d0c !important;
}