/* Global */
body {
  background: #f2f2f2 !important;
}

section {
  padding: 0px 10px;
  margin-bottom: 25px;
}

.section-title {
  display: flex;
}

.section-title > i {
  height: 100%;
  margin: auto 10px auto 0;
}

a {
  transition: all 0.25s ease-in-out;
  color: #5b8d0c !important;
}

a:hover {
  color: #4c4c4c !important;
  text-decoration: none !important;
}

.card-container {
  margin: 50px 200px !important;
  box-shadow: 0px 0px 9px 0px #cecece;
  border-radius: 5px;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  .card-container {
    margin: unset !important;
    box-shadow: unset !important;
    border-radius: unset !important;
  }
}